@import url('https://fonts.googleapis.com/css?family=Ubuntu');
@import "variables";

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Ubuntu',sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 20px;
    background: linear-gradient(to top, $color-F, $color-FF);
    background-attachment: fixed;
    cursor: url("assets/ball.png"), auto;
}