@import "../variables";

.step .title {
    margin-bottom: 10px;
}

.team {
    color: rgba(black, 0.4);
    &--mine {
        color: $color-F;
        font-weight: bold;
    }
}

.ui.cards {
    text-align: center;
    justify-content: center;
}